body {
    background-color: rgb(189, 179, 93);
    font-family: 'Times New Roman', Times, serif;
}

.container {
    max-width: 60;
    padding: 20px;
    margin: auto;
    text-align: center;
    border: solid black 1px;
    background-color: #c6b8a2;

}

h1 {
    color: #000;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

p {
    color: #000;
    font-size: 18px;
    margin: 10px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}